.gameOver{
  background-color: #000022;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &--inner{
    margin-top: -50px;
    text-align: center;
  }
  &--header{
    text-transform: uppercase;
  }
  &--score{
    margin-top: 20px;
  }
  .small{
    font-size: 0.9rem;
  }
  button{
    margin-top: 20px;
  }
}
