@import '../../loader';
@import "../game-over/game-over";
.intro-holder{
  background-color: #000022;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .intro{
    height: 430px;
    h3{
      color: white;
      margin: 0;
      line-height: 1.6;
    }
    img{
      margin: 20px 0;
      height: 140px;
    }
    button{
      margin-top: 30px;
    }
  }
  .footer{
    position: absolute;
    color: #b7b7b7;
    bottom: 20px;
    font-size: 0.6rem;
    font-family: 'Poppins', sans-serif;
  }

  .guy{
    position: absolute;
    right: 0;
    bottom: 50px;
    height: 100px;
    &.guy1{
      top: 60px;
      left: 0;
    }

  }


}



.rainbow{
  position: relative;
  z-index: 2;
}
.game{
  height: 100vh;
  overflow: hidden;
  .speaker{
    position: absolute;
    bottom: 20px;
    left:  20px;
    height: 20px;
  }
  .points{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 40px);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 20px 20px 0 20px;
    //align-items: center;
    .score-holder{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .clover-score{
      margin-top: 10px;
      display: flex;
      align-items: center;
      padding-left: 5px;

      span{
        margin-right: 10px;
      }
    }
    .score{
      background: #ff005a;
      padding: 3px 10px;
      border-radius: 20px;

    }
    #heart{
      height: 40px;
    }

  }
  #gameHolder{
    height: 100%;
    overflow: hidden;
    //background: lightblue;
    background: linear-gradient(to bottom, rgba(25,39,92,1) 0%, rgba(2,1,16,1) 63%, rgba(2,1,16,1) 100%);
    #road{
      height: 100%;
      margin: 0 auto;
    }
    .cloud{
      position: absolute;
      width: 90px;
    }
  }
}
#ball{
  height: 40px;
  width: 40px;
  background: red;
  border-radius: 100%;
  margin-left: 5px;

}
#clover{
  position: absolute;
  left: 0px;
  bottom: -450px;
  height: 60px;
  left: 50%;
  margin-left: -25px; /* Half the width */
}
#character{
  position: absolute;
  z-index: 3;
  height: 100px;
}
#popup{
  position: absolute;
  bottom: 100px;
  height: 100px;
  width: 121px;
  left: 50%;
  z-index: 3;
  margin-left: -62px; /* Half the width */
}
#tapPopUp{
  @extend #popup;
}
.beer{
  position: absolute;
  bottom: 0;
  height: 20px;
  z-index: 3;
}
