@import '../../loader';

.intro-holder{
  background-color: #000022;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .intro{
    height: 430px;
    h3{
      color: white;
      margin: 0;
      line-height: 1.6;
    }
    img{
      margin: 20px 0;
      height: 140px;
    }
    button{
      margin-top: 30px;
    }
  }
  .footer{
    position: absolute;
    color: #b7b7b7;
    bottom: 20px;
    font-size: 0.6rem;
    font-family: 'Poppins', sans-serif;
  }
  .speaker{
    position: absolute;
    top: 20px;
    left:  20px;
    height: 20px;
  }
  .guy{
    position: absolute;
    right: 0;
    bottom: 50px;
    height: 100px;
    &.guy1{
      top: 60px;
      left: 0;
    }

  }


}




.game{
  height: 100vh;
  overflow: hidden;
  .points{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 40px);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 20px 20px 0 20px;
    align-items: center;
    .score{
      background: #ff005a;
      padding: 3px 10px;
      border-radius: 20px;
    }
    #heart{
      height: 40px;
    }

  }
  #gameHolder{
    height: 100%;
    overflow: hidden;
    //background: lightblue;
    background: linear-gradient(to bottom, rgba(25,39,92,1) 0%, rgba(2,1,16,1) 63%, rgba(2,1,16,1) 100%);
    #road{
      height: 100%;
      margin: 0 auto;
    }
    .cloud{
      position: absolute;
      width: 90px;
    }
  }
}
#ball{
  height: 40px;
  width: 40px;
  background: red;
  border-radius: 100%;
  margin-left: 5px;

}
#character{
  position: absolute;
  height: 100px;
  bottom: 0px;
}
.beer{
  position: absolute;
  bottom: 0;
  height: 20px;
}
