/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h3{
  font-family: 'Lobster', cursive;
  color: white;
  margin: 0;
  line-height: 1.6;

}
.pink{
  color: #ff005a;

}
button{
  background: #ff005a;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  text-transform: uppercase;
  /*color: #ff005a;*/
  font-family: 'Lobster', cursive;

}
a{
  color: #b7b7b7;
  text-decoration: none;

}
.gettingReady{
  font-family: 'Lobster', cursive;

}
a:hover{
  color: #b7b7b7;

}
.footer{
  position: absolute;
  color: #b7b7b7;
  bottom: 20px;
  font-size: 0.6rem;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
