/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h3{
  font-family: 'Lobster', cursive;
}
button{
  background: #ff005a;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  text-transform: uppercase;
  /*color: #ff005a;*/
  font-family: 'Lobster', cursive;

}
