<!--The content below is only a placeholder and can be replaced.-->
<div class="game">
<!--{{test}}-->
  Score: {{score}} {{accelerationX}}
  <!--<p *ngIf="all">{{all.dm.x }} x {{all.dm.y}} y {{all.dm.z}} z</p>-->
  <!--<p *ngIf="all">{{all.dm.gx }} x {{all.dm.gy}} y {{all.dm.gz}} z</p>-->
  <!--<p *ngIf="position">{{position}}</p>-->
  <!--<p *ngIf="currentPosition">{{currentPosition}} here here</p>-->
 <!--<div class="road"></div>-->
  <div id="gameHolder">
    <img src="../assets/character.gif" id="character">
  </div>

</div>
